@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-color: ivory;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.nav{
    background-color:#b70000;
    justify-content: space-between;
}
.nav-item a {
    color: ivory;
}
.right li{
    display: inline-block;
}

.functions {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.f {
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
    transition: width 0.5s ease,height 0.5s ease;
    cursor: pointer;
}

.f:hover{
    width: 300px;
    height: 240px;
}

.f:hover img {
    transform: scale(1.2);
}
.f:hover label {
    margin-top: 22px;
}
.f button {
    border: none;
    background-color: transparent;
}
img {
    border: solid rgb(34, 32, 32) 1px;
    box-shadow: 0  0 10px black;
    object-fit: contain;
    background-color:rgb(250, 250, 216);
    transition: width 0.5s ease,height 0.5s ease;
}
    
.f label{
    text-align: center;
    margin-top: 5px;
} 

h3 {
    text-align: center;
    margin-top: 50px;
    color: #820d0d;
    font-weight: bold;
}

.pbar {
    top: 42px;
    right: 4px;
    background-color: rgb(237, 239, 241);
    position: absolute;
    display: none;
    width: 250px;
    height: 320px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    padding: 10px 0;
}
.pitem {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
.pitem img {
    border-radius: 50%;
    background-color: grey;
}

.p1 {
    border-bottom: solid 1px black;
    text-align: center;
    font-size: medium;
    padding: 5px 0;
}

.pbtn {
    width: 70px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(83, 83, 83);
    color: white;
    margin-left: 35%;
}
.pbtn:hover {
    background-color: grey;
}

#profile {
    cursor:pointer;
    background-color: #b70000; 
    padding: 0 5px; 
    border: none; 
    box-shadow: none;
}