@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-color: ivory;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

.nav{
    background-color:#b70000;
    justify-content: space-between;
}
.nav-item a {
    color: ivory;
}
.right li{
    display: inline-block;
}

img {
    border: solid rgb(34, 32, 32) 1px;
    box-shadow: 0  0 10px black;
    object-fit: contain;
    background-color:rgb(250, 250, 216);
    transition: width 0.5s ease,height 0.5s ease;
}

h3 {
    text-align: center;
    margin-top: 50px;
    color: #820d0d;
    font-weight: bold;
}

.pbar {
    top: 42px;
    right: 4px;
    background-color: rgb(237, 239, 241);
    position: absolute;
    display: none;
    width: 250px;
    height: 280px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    padding: 10px 0;
}
.pitem {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
.pitem img {
    border-radius: 50%;
    background-color: grey;
}

.p1 {
    border-bottom: solid 1px black;
    text-align: center;
    font-size: medium;
    padding: 5px 0;
}

.pbtn {
    width: 70px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(83, 83, 83);
    color: white;
    margin-left: 35%;
}
.pbtn:hover {
    background-color: grey;
}

#profile {
    cursor:pointer;
    background-color: #b70000; 
    padding: 0 5px; 
    border: none; 
    box-shadow: none;
}


.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.sitem {
    width: 200px;
    height: 80px;
    display: flex;
    color: white;
    box-shadow: 0  0 3px rgb(0, 0, 0);;
    background-color: #ca1f1f;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.sitem h4 {
    text-align: center;
}

@keyframes grow {
    0%{
        opacity: 0;
    }

    50% {
        opacity: 1;        
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.error p {
    opacity: 0;
    font-size: 1em;
    font-weight: 1000;
    color: red;
    margin-bottom: 5px;
    animation-name: grow;
    animation-duration: 4s;
}

button{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 12px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 450;
}

.bstck {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.bstck select {
    height: 40px;
    width: 250px;
    text-align: center;
}

.bstck input {
    text-align: center;
    height: 40px;
    margin: 0 10px;
    width: 60px;
}

.error {
    position: absolute;
    display: flex;
    top: 90px;
}

section{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
 
}
